/* GERAIS */

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.largura {
    max-width: 1024px;
    margin-bottom: 40px;
}


/* CSS DO TOPO */

.topo {
    height: 50px;
    background-color: white;
}

.secao-topo p {
    color: black;
    font-weight: 800;
    font-size: 25px;
    padding: 10px 0;
}


/* CSS DO FUNDO COM O TITULO */

.secao-fundo {
    background-image: url('img/capa.jpg');
    height: 70vh;
    max-width: 100%;
    background-size: cover;
    min-height: 500px;
}

.secao-fundo-transparente {
    background-color: rgb(0, 0, 0, 0.5);
    height: 35%;
    padding: 50px 20px;
}

.secao-fundo-texto {
    color: white;
    text-align: right;
    height: 100%;
}


/* CSS DO CONTEUDO */

.conteudo-limitado {
    margin: 0 auto;
    max-width: 800px;
    text-align: left;
    margin-bottom: 15px;
}

.img-conteudo {
    height: 180px;
    width: 250px;
    object-fit: contain;
}

.texto-conteudo h3 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}

.texto-conteudo p {
    color: black;
    font-size: 16px;
}

.texto-conteudo-lista p {
    padding: 8px 0;
}

.texto-conteudo-lista p::before {
    content: "";
    border-left: 1px solid black;
    padding-right: 5px;
}

.largura-divisor {
    background-color: lightcoral;
    padding: 50px 0;
    margin-bottom: 25px;
}

.largura-divisor-menor h3 {
    background-color: brown;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: white;
}


/* CSS DO FORM */